{% load compress %}

{% load staticfiles %}
{% compress js %}

    <!-- bower components -->
    <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-scroll/angular-scroll.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/aos/dist/aos.js' %}"></script>


    <!-- NON-ANGULAR -->
    <!-- APP -->
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/app.routes.js' %}"></script>


    <!-- MODULES -->
    <script type="text/javascript" src="{% static 'js/home/home.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/contact/contact.module.js' %}"></script>

    <!-- SERVICES -->

    <!-- CONTROLLER -->
    <script type="text/javascript" src="{% static 'js/home/controllers/homepage.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home/controllers/news.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home/controllers/article.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home/controllers/teams.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home/controllers/menu.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/contact/controllers/contact.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home/controllers/sports.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home/controllers/trainings.controller.js' %}"></script>



{% endcompress %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.slim.min.js"></script>

<script>
    AOS.init();
</script>
<script>
    // Modal Image Gallery
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }
</script>

