<!DOCTYPE html>
<html lang="de" ng-app="website">

<head>
    {%verbatim%}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="fragment" content="!">
    <title ng-bind="title">Vfl Winz Baak Tischtennis</title>
    <link rel="icon" type="image/jpg" href="/static/images/s5_logo.png">
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="Tischtennis, Kindertraining, Jugendtraining, Anfängertraining, Leistungstraining, Wettkampf,Mädchen, Jungen, Mannschaften, Mannschaftssport, Ballroboter, Ballmaschine, qualifizierte Übungsleiter und Trainer, Coaching im Training und im Wettkampf, Turniere, Spaß, Vereinsleben, VfL Winz-Baak, Weihnachtsfeiern, Bochum, Linden, Dahlhausen, Hattingen, Essen,Witten, André Engelmann, Jens Neumeier, schnell, Ping-Pong, NRW-Liga, Landesliga, Bezirksliga, Bezirksklasse, Kreisliga, Kreisklasse, TT, tt">
    <link rel="canonical" href="{{canonical}}" />
    <meta name="robots" content="{{robots}}">
    <link rel="alternate" hreflang="de" href="https://tt.vfl-winz-baak.de" /> {%endverbatim%}




    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "//analytics.vfl-winz-baak.de/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '1']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "https://tt.vfl-winz-baak.de",
            "logo": "https://tt.vfl-winz-baak.de/static/images/s5_logo.png",
            "name": "Vfl Winz Baak Tischtennis",
            "sameAs": ["https://www.instagram.com/vfl_winz_baak_tt/",
                "https://www.facebook.com/TischtennisWinzBaak/"
            ]
        }
    </script>

    {% include "base/styles.html" %}

</head>

<body ng-cloak>

    {% include "base/header.html" %}

    <!-- First Parallax Image with Logo Text -->
 {%verbatim%}
        <div ng-controller="MenuController" class="bgimg-1 w3-display-container w3-opacity-min " id="home" ng-show="mainSite">
            <div class="w3-display-middle " style="white-space:nowrap;text-align:center;color:white" >
                <h1  class="w3-center w3-xlarge w3-xxxlarge  w3-hide-small" style="font-weight: bold;
font-size: 60px !important;">VfL Winz Baak e.V. 1912</h1>
                <h1 class="w3-center w3-xlarge w3-xxxlarge w3-hide-medium w3-hide-large" style="font-weight: bold;
font-size: 60px !important;">VfL Winz Baak</h1>
                <div ng-if="marquee" style="background: rgba(0, 0, 0, 0.41);
    border-radius: 50px;">
                    <marquee style="font-weight:bold">{{marquee}}</marquee>
                </div>
                <hr ng-if="!marquee" class="blue" style="margin:auto">


                <p><img  src="/static/images/s5_logo.png"></p><a href="#aboutUs" du-smooth-scroll du-scrollspy duration="2000"><button class="w3-button w3-blue w3-round-xxlarge w3-padding-large w3-hover-shadow w3-hover-blue">Über uns</button></a>
            </div>
        </div>
    {%endverbatim%}
   

    <div class="container-fluid">


        <!-- Main Content area -->
        {% load static %}

        <div ng-view id="content-view" autoscroll="true" ng-cloak></div>


    </div>
    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal " onclick="this.style.display='none'">

        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption" class="w3-opacity w3-large"></p>
        </div>
    </div>
    {% include "base/footer.html" %} {% include 'base/javascripts.html' %}

</body>

</html>