<!-- First Parallax Image with Logo Text -->
<div class="w3-animate-opacity">
<div class="bgimg-1 w3-display-container w3-opacity-min " id="home">
    <div class="w3-display-middle " style="white-space:nowrap;text-align:center;color:white">
        <h1 class="w3-center w3-xlarge w3-xxxlarge  w3-hide-small">VfL Winz Baak e.V. 1912</h1>
<h1 class="w3-center w3-xlarge w3-xxxlarge w3-hide-medium w3-hide-large">VfL Winz Baak</h1>
        <div ng-if="marquee" style="background: rgba(0, 0, 0, 0.41);
    border-radius: 50px;">
            <marquee style="font-weight:bold">{{marquee}}</marquee>
        </div>
        <hr ng-if="!marquee" class="blue" style="margin:auto">
        

        <p><img src="/static/images/s5_logo.png"></p><a href="#aboutUs" du-smooth-scroll du-scrollspy duration="2000"><button class="w3-button w3-blue w3-round-xxlarge w3-padding-large w3-hover-shadow w3-hover-blue">Über uns</button></a>
    </div>
</div>
</div>

<!-- Container (About Section) -->
<div class=" w3-container w3-padding-64 w3-center" id="news">
    <div class="w3-content">


        <h1 class="section-heading">News</h1>
        <hr class="blue" style="margin:auto">

        <div class="w3-row" data-aos="zoom-in" data-aos-delay="200">
            <div class="w3-col l4" ng-repeat="article in articles | orderBy : id : true | limitTo : 3 ">
                <div class="w3-card-4 w3-white w3-margin " data-aos="zoom-in-up" style="height:480px">
                    <div style="height:400px">
                        <img class="w3-hover-shadow" ng-if="article.img" src="static/media/{{article.img}}" style="width:100%;cursor:pointer" onclick="onClick(this)">
                        <div class="w3-container w3-center" style="height:200px">
                            <h2>{{article.title}}</h2>
                        </div>
                    </div>
                    <a href="/#!/article?id={{article.id}}">
                    <button class="w3-button w3-circle w3-blue">more</button>
                    </a>

                </div>
            </div>

        </div>


        <div style="text-align:center" class="row">
            <a href="/#!/news">
            <button class="w3-button w3-blue w3-round-xxlarge w3-padding-large w3-hover-shadow w3-hover-blue">Ältere Nachrichten</button>
            </a>
        </div>



    </div>
</div>
<!---
<div  class=" w3-container w3-padding-64 w3-center" id="about">
    <div class="w3-content" data-aos="zoom-in-up">


        <h1 class="section-heading">News</h1>
        <hr class="blue" style="margin:auto">


        <div class="w3-row">
            <p class="lead">
                Du bist nicht auf Deine Mannschaft, sondern auf Deinen Verein ausgerichtet?<br>Du suchst eine große Auswahl an Trainingspartnern von der Kreisklasse bis hin zur Bezirksliga?<br>Dann herzlich Willkommen bei uns in Winz-Baak!!!</p>
            <h3 class="text-center">Senioren</h3>
            <p style="text-align:center;">Gerade im Seniorenbereich haben wir eine seeeehr enge Leistungsdichte, die an allen Trainingstagen eine volle Halle, eine große Auswahl an Trainingspartnern und nicht zuletzt spannende interne Turniere verspricht.</p>
            <h3 class="text-center">Jugend und Schüler</h3>
            <p style="text-align:center;">Für unsere Jugendlichen und Schüler bieten wir qualifiziertes Tischtennistraining in verschiedenen Leistungsgruppen vom Anfänger bis zum Leistungssportler an verschiedenen Tagen an. Auch Mädchen sind dabei und spielen gemeinsam mit Jungen in gemischten Teams.</p>
            <h3 class="text-center">Probetraining</h3>
            <p style="text-align:center; margin-bottom: 30px;">Wir freuen uns über Zuwachs jeglicher Alters- und Leistungsklassen. Komm' einfach zum Probetraining oder an den Spieltagen vorbei und lern' uns kennen.</p>
            <p></p>
            <p></p>
        </div>
        <div style="text-align:center" class="row"><button href="/teams" class="w3-button w3-blue w3-round-xxlarge w3-padding-large w3-hover-shadow w3-hover-blue">Unsere Mannschaften</button></div>



    </div>
</div>
-->

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
    <div class="w3-quarter w3-section">
        <img class="sponsor" src="/static/images/sparkasse.png" onclick="onClick(this)">
    </div>
    <div class="w3-quarter w3-section">
        <img class="sponsor" src="/static/images/butterfly.png" onclick="onClick(this)">
    </div>
    <div class="w3-quarter w3-section">
        <img class="sponsor" src="/static/images/hwg.png" onclick="onClick(this)">
    </div>
    <div class="w3-quarter w3-section">
        <img class="sponsor" src="/static/images/sparkasse.png" onclick="onClick(this)">
    </div>
</div>

<div class="bgimg-3 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide">ÜBER UNS</span>
    </div>
</div>

<div id="aboutUs">
    <div class="w3-content w3-container w3-padding-64">
        <h1 class="w3-center">Unsere Abteilung</h1>
        <hr class="blue" style="margin:auto">

        <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
        <div data-aos="zoom-in" data-aos-delay="200">
            <div class="w3-row-padding w3-center w3-section w3-padding-16">
                <div class="row">
                    <p class="lead">
                        Neben hervorragender Jugendarbeit in Hattingen und Bochum auch im Herrenbereich für eine sehr gute Adresse für leistungsorientierte als auch freizeitorientierte Spieler.</p>
                    <h3 class="text-center">Jugendtraining</h3>
                    <p style="text-align:center">Unseren Kindern bringen wir an unseren Trainingstagen in Gruppen als auch im Einzeltraining Grundschlagarten bei und führen sie langsam an den Wettkampfsport heran.</p>
			 <h3 class="text-center">Wir bieten</h3>
                    <p style="text-align:center; margin-bottom: 30px">
Mit Roboter- und Balleimertraining sowie von Videoanalysen bringen wir Euch das Tischtennispielen bei und bereiten Euch auf Wettkampfspiele, Turniere, Ranglisten und weitere Meisterschaften vor. </p>
                    <h3 class="text-center">Probetraining</h3>
                    <p style="text-align:center; margin-bottom: 30px">Wir freuen uns über Zuwachs jeglicher Alters- und Leistungsklassen. Komm' einfach zum Probetraining oder an den Spieltagen vorbei und lern' uns kennen.</p>

                </div>
            </div>
<div class="w3-row" style="width:400px;margin:auto">
<div class="w3-col l6">
            <div style="text-align:center" class="w3-margin"><a href="/#!/sports" class="w3-button w3-blue w3-round-xxlarge w3-padding-large w3-hover-shadow w3-hover-blue">Sportliches</a></div>
</div>
<div class="w3-col l6">
            <div style="text-align:center" class="w3-margin"><a href="/#!/aboutUs" class="w3-button w3-blue w3-round-xxlarge w3-padding-large w3-hover-shadow w3-hover-blue">Vereinsleben</a></div>
</div>
</div>
        </div>
    </div>
</div>


<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide">TRAINING</span>
    </div>
</div>

<div id="training">
    <div class=" w3-container w3-padding-64 w3-center">



        <h1 class="section-heading">Das sind unsere Trainingszeiten</h1>
        <hr class="blue" style="margin:auto;margin-bottom:20px">

        <div class="w3-row w3-margins">
            <div style="margin-bottom: 60px;" class="w3-col l3"><i data-aos="zoom-in" data-aos-delay="500" class="fa fa-4x fa-check w3-text-blue"></i>
                <h3>Montag<br>17:00-22:00 Uhr</h3>
                <p class="text-muted">17:00-19:00 Uhr Jugend-/Schülertraining<br>19:00-22:00 Uhr Herrentraining</p>
                <p>Regerstraße 31-33<br>45529 Hattingen</p>
            </div>
            <div style="margin-bottom: 90px;" class="w3-col l3"><div data-aos="zoom-in" data-aos-delay="500" style="width:70px;margin: auto;" class="w3-center w3-text-blue"><img alt="self-Logo" src="/static/images/racket.svg"></div>
                <h3>Dienstag<br>17:30-20:00 Uhr</h3>
                <p class="text-muted">Jugend / Herren / Schüler</p>
                <p>Regerstraße 31-33<br>45529 Hattingen</p>
            </div>
            <div style="margin-bottom: 60px;" class="w3-col l3"><i data-aos-delay="500" data-aos="zoom-in" class="fa fa-4x fa-check w3-text-blue"></i>
                <h3>Donnerstag<br>16:00-22:00 Uhr</h3>

                            <p class="text-muted">16:00-17:00 Uhr Einsteiger-Training<br>17:00-19:00 Uhr Jugend-/Schülertraining<br>19:00-22:00 Uhr Herrentraining</p>
                <p>Regerstraße 31-33<br>45529 Hattingen</p>
            </div>
            <div style="margin-bottom: 60px;" class="w3-col l3"><div data-aos="zoom-in" data-aos-delay="500" style="width:70px;margin: auto;" class="w3-center w3-text-blue"><img alt="self-Logo" src="/static/images/racket.svg"></div>
                <h3>Freitag<br>17:00-22:00 Uhr</h3>
                <p class="text-muted">Jugend / Herren / Schüler</p>
                <p>Rauendahlstraße 40-42<br>45529 Hattingen</p>
            </div>
        </div>
        <p></p>
        <div style="text-align:center" class="row"><a href="/#!/training" class="w3-button w3-blue w3-round-xxlarge w3-padding-large w3-hover-shadow w3-hover-blue">Erfahre mehr über das Training</a></div>
    </div>
</div>

<div class="bgimg-4 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide">KONTAKT</span>
    </div>
</div>
<div class=" w3-container w3-padding-64 w3-center w3-center  w3-padding-64  dark" id="contact">
<h1 class="section-heading">So kannst du Kontakt mit uns aufnehmen</h1>
        <hr class="light" style="margin:auto">
    <div class="w3-row w3-padding-48">
        <div ng-repeat="person in ansprechpartner | limitTo : 4" class="w3-col l3"><img width="80%" class="profile" src="/static/media/{{person.Img}}" />
            <p>{{person.first_name}} {{person.last_name}}</p>
            <div class="w3-row">
                        <div class="w3-col l6 foo" data-aos="zoom-in" data-aos-delay="500"><i class="fa fa-phone fa-3x w3-text-white "></i>
                
            </div>
            <div class="w3-col l6">
            <p>{{person.phone}}</p>
            </div>
                </div>
            <div class="w3-row">
            <div class="w3-col l6 bar" data-aos="zoom-in" data-aos-delay="500"><i class="fa fa-envelope-o fa-3x w3-text-white "></i>
                  </div>
                <div class="w3-col l6">
            <p>{{person.email}}</p>
            </div>
          
                
                </div>
        </div>
    
    </div>

    <div style="text-align:center" class="row"><a href="/#!/contact" class="w3-button w3-blue w3-round-xxlarge w3-padding-large w3-hover-shadow w3-hover-blue">Contact us</a></div>

</div>







<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal " onclick="this.style.display='none'">

    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <p id="caption" class="w3-opacity w3-large"></p>
    </div>
</div>
