.container-1 {
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    margin: 10px auto
}

.container-1 input#search {
    width: 100%;
    height: 50px;
    background: white;
    border: 1px solid black;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-1 input#search:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
}

.container-1 input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
    color: #65737e;
}

.container-1 .icon {
    position: absolute;
    /* top: 50%; */
    margin-left: 13px;
    margin-top: 13px;
    z-index: 1;
    color: #4f5b66;
    left: 0px
}

.container-1 input#search:hover,
.container-1 input#search:focus,
.container-1 input#search:active {
    outline: none;
    background: #ffffff;
}


.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid white;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.nowrap {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wrap li {
    background: gold;
}

.wrap-reverse {
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.wrap-reverse li {
    background: deepskyblue;
}



@media only screen and (max-device-width: 1024px) {
    .article {
        width: 100%
    }
}