#aboutUs {
    background: #e4e4e4;

}

.grey {
    background: #e4e4e4;
    padding: 100px 0px;
}

#contact {
    background: #222;
    padding: 100px 0px;
    color: #fff;
}

#training {
    background: white;
    padding: 50px 64px;
}

.dark {
    background: #222;
    padding: 100px 0px;
    color: #fff;
}

#myNavbar > a.active {
    background: white;
    color: black;
}

.w3-button {
    font-weight: 700;
}

.lead {
    text-align: center;
    margin-bottom: 20px;
    font-size: 21px !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;

}

.blue {
    max-width: 50px;
    border-width: 3px;
    border-top: solid #428bca;

}

.light {
    max-width: 50px;
    border-width: 3px;
    border-top: solid white;

}

.sponsor {
    height: 120px;
}


body,
html {
    height: 100%;
    color: black;
    line-height: 1.8 !important;
}

/* Create a Parallax Effect */

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */

.bgimg-1 {
    background-image: url('http://www.ltv-lippstadt-tt.de/wp-content/uploads/2015/10/076A3660.jpg');
    min-height: 1200px;
}

@media only screen and (max-width: 1024px) {
    .bgimg-1 {
        background-image: url('http://www.ltv-lippstadt-tt.de/wp-content/uploads/2015/10/076A3660.jpg');
        min-height: 800px;
    }
}

/* Second image (Portfolio) */

.bgimg-2 {
    background-image: url("/static/images/slider1.png");
    min-height: 400px;
}

/* Third image (Contact) */

.bgimg-3 {
    background-image: url("/static/images/slider3.jpg");
    min-height: 400px;
}

.bgimg-4 {
    background-image: url("/static/images/slider2.png");
    min-height: 400px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

.sidenav {
    position: fixed;
    top: 20%;
    left: 20px;
}

.sidenav a {
    position: relative;
    display: block;
    padding: 10px 15px;
    height: 80px;
    font-size: 2em;
    line-height: 80px;
    color: #808080;
    text-decoration: none
}

.sidenav ul
{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.sidenav li > a.active {
    border-left: 3px solid #f00;
    padding-left: 40px;
    background: none;
}

.sidenav li > a:hover {
    border-left: 3px solid #f00;
    padding-left: 40px;
    background: none;
}




/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {}