<!-- First Parallax Image with Logo Text -->

<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle w3-animate-opacity" style="white-space:nowrap;text-align:center;color:white">
        <h1 class="w3-center w3-padding-large w3-xlarge w3-xxxlarge">VFL Winz Baak</h1>
        <hr class="blue" style="margin:auto">
        <p><img src="/static/images/s5_logo.png"></p><button href="#first" class="w3-button w3-blue w3-round-xxlarge w3-padding-large w3-hover-shadow w3-hover-blue">Über uns</button>
    </div>
</div>

<!-- Container (About Section) -->
<div class=" w3-container w3-padding-64 w3-center" id="news">
    <div class="w3-content" data-aos="zoom-in-up">


        <h1 class="section-heading">News</h1>
        <hr class="blue" style="margin:auto">

        <div class="w3-row" ng-show="$index % 3 == 0" ng-repeat="article in articles | limitTo : 4">
            <div class="w3-col l4">
                <div class="w3-card-4 w3-white w3-margin " data-aos="zoom-in-up" style="height:480px">
                    <div style="height:400px">
                        <img ng-if="articles[$index].img" src="{{articles[$index].img}}" style="width:100%">
                        <div class="w3-container w3-center" style="height:200px">
                            <h2>{{articles[$index].title}}</h2>
                        </div>
                    </div>
                    <button class="w3-button w3-circle w3-black ">more</button>

                </div>
            </div>
            <div class="w3-col l4">
                <div class="w3-card-4 w3-white w3-margin " data-aos="zoom-in-up" style="height:480px">
                    <div style="height:400px">
                        <img ng-if="articles[$index+1].img" src="{{articles[$index+1].img}}" style="width:100%">
                        <div class="w3-container w3-center" style="height:200px">
                            <h2>{{articles[$index+1].title}}</h2>
                        </div>
                    </div>
                    <button class="w3-button w3-circle w3-black">more</button>

                </div>
            </div>
            <div class="w3-col l4">
                <div class="w3-card-4 w3-white w3-margin " data-aos="zoom-in-up" style="height:480px">
                    <div style="height:400px">
                        <img ng-if="articles[$index+2].img" src="{{articles[$index+2].img}}" style="width:100%">
                        <div class="w3-container w3-center">
                            <h2>{{articles[$index+2].title}}</h2>
                        </div>
                    </div>
                    <button class="w3-button w3-circle w3-black ">more</button>

                </div>
            </div>
        </div>


        <div style="text-align:center" class="row"><button href="/teams" class="w3-button w3-blue w3-round-xxlarge w3-padding-large w3-hover-shadow w3-hover-blue">Ältere Nachrichten</button></div>



    </div>
</div>
<!---
<div  class=" w3-container w3-padding-64 w3-center" id="about">
    <div class="w3-content" data-aos="zoom-in-up">


        <h1 class="section-heading">News</h1>
        <hr class="blue" style="margin:auto">


        <div class="w3-row">
            <p class="lead">
                Du bist nicht auf Deine Mannschaft, sondern auf Deinen Verein ausgerichtet?<br>Du suchst eine große Auswahl an Trainingspartnern von der Kreisklasse bis hin zur Bezirksliga?<br>Dann herzlich Willkommen bei uns in Winz-Baak!!!</p>
            <h3 class="text-center">Senioren</h3>
            <p style="text-align:center;">Gerade im Seniorenbereich haben wir eine seeeehr enge Leistungsdichte, die an allen Trainingstagen eine volle Halle, eine große Auswahl an Trainingspartnern und nicht zuletzt spannende interne Turniere verspricht.</p>
            <h3 class="text-center">Jugend und Schüler</h3>
            <p style="text-align:center;">Für unsere Jugendlichen und Schüler bieten wir qualifiziertes Tischtennistraining in verschiedenen Leistungsgruppen vom Anfänger bis zum Leistungssportler an verschiedenen Tagen an. Auch Mädchen sind dabei und spielen gemeinsam mit Jungen in gemischten Teams.</p>
            <h3 class="text-center">Probetraining</h3>
            <p style="text-align:center; margin-bottom: 30px;">Wir freuen uns über Zuwachs jeglicher Alters- und Leistungsklassen. Komm' einfach zum Probetraining oder an den Spieltagen vorbei und lern' uns kennen.</p>
            <p></p>
            <p></p>
        </div>
        <div style="text-align:center" class="row"><button href="/teams" class="w3-button w3-blue w3-round-xxlarge w3-padding-large w3-hover-shadow w3-hover-blue">Unsere Mannschaften</button></div>



    </div>
</div>
-->

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">14+</span><br> Partners
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">55+</span><br> Projects Done
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">89+</span><br> Happy Clients
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">150+</span><br> Meetings
    </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide">TRAINING</span>
    </div>
</div>


<div class=" w3-container w3-padding-64 w3-center" id="training">



    <h1 class="section-heading">Das sind unsere Trainingszeiten</h1>
    <hr class="blue" style="margin:auto">

    <div class="w3-row w3-margins">
        <div data-aos="zoom-in-up" style="margin-bottom: 60px;" class="w3-col l3"><i class="fa fa-4x fa-check w3-text-blue"></i>
            <h3>Montag<br>17:00-22:00 Uhr</h3>
            <p class="text-muted">ab 17:00 Jugendtraining<br>ab 19:00 Herrentraining</p>
            <p>Regerstraße 59a<br>44879 Hattingen</p>
        </div>
        <div data-aos="zoom-in-up" style="margin-bottom: 90px;" class="w3-col l3"><i class="fa fa-4x fa-check w3-text-blue"></i>
            <h3>Dienstag<br>17:30-20:00 Uhr</h3>
            <p class="text-muted">Jugendtraining</p>
            <p>Regerstraße 59a<br>44879 Hattingen</p>
        </div>
        <div data-aos="zoom-in-up" style="margin-bottom: 60px;" class="w3-col l3"><i class="fa fa-4x fa-check w3-text-blue"></i>
            <h3>Donnerstag<br>17:00-22:00 Uhr</h3>
            <p class="text-muted">ab 17:00 Jugendtraining<br>ab 19:00 Herrentraining</p>
            <p>Regerstraße 59a<br>44879 Hattingen</p>
        </div>
        <div data-aos="zoom-in-up" style="margin-bottom: 60px;" class="w3-col l3"><i class="fa fa-4x fa-check w3-text-blue"></i>
            <h3>Freitag<br>17:00-22:00 Uhr</h3>
            <p class="text-muted">Freies Training</p>
            <p>Rauendahl 59a<br>44879 Hattingen</p>
        </div>
    </div>
    <p></p>
    <div style="text-align:center" class="row"><a href="/training" class="w3-button w3-blue w3-round-xxlarge w3-padding-large w3-hover-shadow w3-hover-blue">Erfahre mehr über das Training</a></div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide">GALLERIE</span>
    </div>
</div>

<div class="w3-content w3-container w3-padding-64" id="gallery">
    <h1 class="section-heading">Hier findest du ein paar Fotos aus unserem Vereinsleben</h1>
    <hr class="blue" style="margin:auto">

    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <div class="w3-row-padding w3-center w3-section">
        <div class="w3-col m3" data-aos="zoom-in-up">
            <img src="https://www.w3schools.com/w3images/p1.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="The mist over the mountains">
        </div>

        <div class="w3-col m3" data-aos="zoom-in-up">
            <img src="https://www.w3schools.com/w3images/p2.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Coffee beans">
        </div>

        <div class="w3-col m3" data-aos="zoom-in-up">
            <img src="https://www.w3schools.com/w3images/p3.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Bear closeup">
        </div>

        <div class="w3-col m3" data-aos="zoom-in-up">
            <img src="https://www.w3schools.com/w3images/p4.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Quiet ocean">
        </div>
    </div>

    <div class="w3-row-padding w3-center w3-section">
        <div class="w3-col m3" data-aos="zoom-in-up">
            <img src="https://www.w3schools.com/w3images/p5.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="The mist">
        </div>

        <div class="w3-col m3" data-aos="zoom-in-up">
            <img src="https://www.w3schools.com/w3images/p6.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="My beloved typewriter">
        </div>

        <div class="w3-col m3" data-aos="zoom-in-up">
            <img src="https://www.w3schools.com/w3images/p7.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Empty ghost train">
        </div>

        <div class="w3-col m3" data-aos="zoom-in-up">
            <img src="https://www.w3schools.com/w3images/p8.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Sailing">
        </div>

    </div>
    <div style="text-align:center" class="row"><a href="/contact" class="w3-button w3-blue w3-round-xxlarge w3-padding-large w3-hover-shadow w3-hover-blue">Show more</a></div>
</div>

<div class="bgimg-4 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide">KONTAKT</span>
    </div>
</div>
<div class=" w3-container w3-padding-64 w3-center w3-center  w3-padding-64  " id="contact">

    <div class="w3-content">
        <h1 class="section-heading">So kannst du Kontakt mit uns aufnehmen</h1>
        <hr class="blue" style="margin:auto">
        <div class="w3-row">
            <p class="lead2">Hier kannst du uns Fragen zu allem stellen, was du willst!<br>Schick uns einfach eine Mail oder ruf uns an und wir versuchen so schnell wie möglich zu Antworten!</p>
        </div>
        <div class="w3-row">
            <div class="w3-col l6 foo" data-aos="zoom-in-up"><i class="fa fa-phone fa-3x w3-text-blue "></i>
                <p>01578 2326155</p>
            </div>
            <div class="w3-col l6 bar" data-aos="zoom-in-up"><i class="fa fa-envelope-o fa-3x w3-text-blue "></i>
                <p>nico.moeller@rub.de</p>
            </div>
        </div>
    </div>

    <div style="text-align:center" class="row"><a href="/contact" class="w3-button w3-blue w3-round-xxlarge w3-padding-large w3-hover-shadow w3-hover-blue">Contact us</a></div>

</div>




<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal " onclick="this.style.display='none'">
    <span class="w3-button w3-large  w3-display-bottomright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <p id="caption" class="w3-opacity w3-large"></p>
    </div>
</div>